
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #252525;
}
::-webkit-scrollbar{
    width: 0%;
}

.progressbar {
    position: fixed;
    top: 0;
    left: 95%;
    background: rgb(255, 0, 0);
    width: 1px;
    z-index: 1;
  }
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0099ff;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}
    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ff1900;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ffc800;
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #000000;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #ffffff;
    }
    #content {
        margin: 0 auto;
        width: 100%;
    }
    img{
        width: 300px;
    }
.entrada img{
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50%, -50%);
    width: 800px;
    box-shadow: 5px 5px 100px red;
}
.gaceta{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: red;
    text-shadow: 5px 5px #000;
    font-size: 70px;
}
.institucion{
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 100px red;
}
.institucion img{
    width: 500px;
}
.menu{
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.menu ul li{
    display: inline;
    font-size: 40px;
    color: white;
}
.box{
    padding: 10px 10px 10px;
    width: 90%;
    height: 25%;
    background-color: #505050;
    color: white;
}
.covid{
    position: absolute;
    top: 120%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.covid img{
    width: 500px;
    box-shadow: 5px 5px 100px white;
}
.deporte{
    position: absolute;
    top: 160%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.deporte img{
    width: 500px;
}
.education{
    position: absolute;
    top: 210%;
    left: 27%;
    transform: translate(-50%, -50%);
}
.education img{
    width: 500px;
}
.cultural{
    position: absolute;
    top: 300%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.cultural img{
    width: 500px;
}
.social{
    position: absolute;
    top: 250%;
    left: 75%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}
.social h1{
    width: 40%;
}
.social p{
    width: 60%;
}

.social img{
    width: 500px;
}
.redes{
    position: absolute;
    top: 330%;
    left: 70%;
    transform: translate(-50%, -50%);
    display: flex;
}
.redes h1{
    font-size: 20px;
}
.redes img{
    width: 90px;
}
